.outermost{
    
    border:2px solid black;
    display: flex;
    flex-direction:column;
    background-color: rgb(249, 246, 242);
}

.first,.second,.third,.four{
    display:flex;
    flex-direction:row;
   align-items: center;


}
button{
    margin: 5px;
    width: 80px;
    background-color: rgb(133, 219, 133);
}
label{
    font-weight: bold;
 
}
